#main{
    background-color: rgb(79, 79, 79);
    margin: 10%;
    margin-top: 20%;
    margin-left: 15%;
    margin-right: 15% ;
    border-radius: 10px;
    padding: 3%;
    color: white;
    text-align: center;
    
}
body{
    background-color: rgb(40, 40, 40);
    margin: 0;
}
#header{
    background-color: rgb(85, 83, 83);
    margin: 0;
    padding: 1%;
    padding-left: 3%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#add{
    margin-right: 0.2%;
    padding: 5%;
    background-color: rgb(183, 172, 172);
    border-radius: 15px;
    color: rgb(0, 0, 0);
    font-size: large;
}
#add:hover{
    cursor: pointer;
}
.del{
    margin-top: 5%;
    padding: 5%;
    background-color: rgb(183, 172, 172);
    border-radius: 15px;
    color: rgb(0, 0, 0);
    font-size: large;
    
}
#settings{
    width: 10%;
    background-color: rgb(168, 168, 168);
    padding: 2%;
    border-radius: 100px;
    margin-right: 2%;
}
